<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/vue"></script>
</head>

<body>
	<main id="app">
		<section class="form-container">
			<form>
				<label for="message">Message</label>
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea"></textarea>
				<button @click.prevent="dispatchMessage" type="submit">Send</button>
			</form>
		</section>

		<div id="nameModal" class="modal">
			<div class="nickname_form">
				<h2>Welcome to Chat App!</h2>
				<label for="nickname">Please enter a nickname</label>
				<p>(Leaving it blank will default to anonymous)</p>
				<input v-model="nickname" type="text" id="nickname" class="nickname" autofocus>
				<button @click.prevent="setNickname">Let's Chat!</button>
			</div>
		</div>

		<section class="messages">
			<ul id="messages">
				<!-- render a new message component for every message -->
				<newmessage v-for="message in messages" :msg="message"></newmessage>
			</ul>
		</section>
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>

</html>