.new-message { 
    span { font-size: 0.8rem; display: block; margin-bottom: 2px; }
    width: 45%;
    padding: 8px 12px;
    background-color: white; 
    border-radius: 8px;
    border: solid 2px #cacaca;
    margin-bottom: 1rem;
    float:left;
    clear: both;

    animation-name: pop;
    animation-duration: .3s; 

    @keyframes pop {
        0% {
          transform: scale(.3);
        }
        100% {
          transform: scale(1);
        }
      }
}

.my-message {
    float: right !important;
    background-color: #6aced1;
    border: solid 2px #57a9ac;
}

